@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url(https://fonts.googleapis.com/css?family=Abel);
body {
  font-family: "Poppins", sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
td {
  color: #1d396b !important;
}
.top1 {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  opacity: 1;
  margin: auto 0px 20px 0px;
}
.sidebar_sect {
  background: #242c46 0% 0% no-repeat padding-box;
}
.sidebar_sect h2 {
  padding: 20px;
}
.sidebar_sect ul li {
  list-style-type: none;
  padding: 6px;
}
.sidebar_sect .active {
  background-color: rgba(214, 127, 90, 0.24);
  padding: 15px;
  border-radius: 10px;
}
.sidebar_sect ul li img {
  padding: 10px;
}
.sidebar_sect ul li a {
  text-decoration: none;
  text-align: left;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 0.68;
}
.top_banner_links {
  float: right;
  padding: 10px;
}
.top_banner_links a {
  padding: 3px 10px 10px 10px;
  background-color: #f5832b1f;
  margin: 5px;
}
.top_banner_first_image {
  float: right;
  padding: 10px;
}
.top_banner_name {
  float: right;
  padding: 10px;
}
.mini_graph_box {
  padding: 10px;
}
.mini_graph_box {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 6px 20px #8091a51a;
  opacity: 1;
}
.mini_graph_box span {
  float: right;
  padding: 10px;
}
.mini_graph_box h6 {
  text-align: left;
  font-size: 15px;
}
.mini_graph_box h6 img {
  padding: 6px;
  width: 12%;
}
.payment_box thead tr {
  color: #1d396b;
}
.payment_box img {
  width: 30%;
  padding: 10px;
}
/* mini graph */
#linechartContainer {
  height: 100px;
}
#linechartContainer2 {
  height: 100px;
}
#linechartContainer3 {
  height: 100px;
}
#linechartContainer4 {
  height: 100px;
}

.axis path,
.axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

.axis text {
  font-family: "Avenir Next";
  font-size: 18px;
}
#container-map-india {
  height: 500px;
  min-width: 310px;
  max-width: 800px;
  margin: 0 auto;
}
.loading {
  margin-top: 10em;
  text-align: center;
  color: gray;
}
.country_map {
  margin: 20px 0px;
  position: relative;
}
.country_map ul li {
  list-style-type: none;
  display: inline-block;
  color: #b0bac5;
  padding: 10px;
}
.country_map .country_table {
  float: right;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 20px;
}
.country_map .country_table tr td {
  padding: 15px;
}
.country_map .country_table .head_table_country {
  background-color: #7777;
}
.country_map_image img {
  width: 100%;
  max-width: 399px;
  padding: 30px;
}
.payment_box {
  margin: 20px 0px;
  padding: 20px;
  background-color: #f4f7fc;
}
.payment_box table tr {
  padding: 10px 0px;
  border-bottom: 1px solid #fff;
}
.single-chart {
  text-align: center !important;
  width: 49%;
}

.circular-chart {
  display: block;
  margin: 10px auto;
  max-width: 80%;
  max-height: 250px;
}

.circle-bg {
  fill: none;
  stroke: #eee;
  stroke-width: 3.8;
}

.circle {
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.circular-chart.orange .circle {
  stroke: #ff9f00;
}

.circular-chart.green .circle {
  stroke: #4cc790;
}

.circular-chart.blue .circle {
  stroke: #3c9ee5;
}

.percentage {
  fill: #666;
  font-family: sans-serif;
  font-size: 0.5em;
  text-anchor: middle;
}
.radio_box input[type="radio"] {
}
.pieID {
  display: inline-block;
  vertical-align: top;
}
.pie {
  height: 150px;
  width: 150px;
  position: relative;
  margin: 0 3px 13px 0;
}
.pie::before {
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  width: 66px;
  height: 66px;
  background: #eee;
  border-radius: 50%;
  top: 16px;
  left: 17px;
}
.pie_chart_box {
  padding: 20px;
}
.mini_graph_box .legend span {
  display: none;
}
.slice {
  position: absolute;
  width: 100px;
  height: 100px;
  clip: rect(0px, 100px, 100px, 50px);
  animation: bake-pie 1s;
}
.slice span {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  clip: rect(0px, 100px, 100px, 50px);
}
.legend {
  list-style-type: none;
  padding: 0;
  margin: 0;
  background: #fff;
  padding: 14px;
  font-size: 11px;
}
.legend li {
  width: 110px;
  height: 1.25em;
  margin-bottom: 0.7em;
  padding-left: 0.5em;
  border-left: 1.25em solid black;
}
.legend em {
  font-style: normal;
}
.legend span {
  float: none !important;
}
.three_graph h5 {
  color: #1d396b;
}
.dual_bar_chart {
}
.last_table {
  margin-top: 20px;
}
.last_table table {
  border-collapse: collapse;
  box-shadow: 0 5px 10px #e1e5ee;
  background-color: white;
  text-align: left;
  overflow: hidden;
  width: 100%;
}
.last_table thead {
  box-shadow: 0 5px 10px #e1e5ee;
}

.last_table th {
  padding: 1rem 2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 0.7rem;
  font-weight: 900;
}

.last_table td {
  padding: 1rem 2rem;
  font-size: 13px;
}

.last_table .status {
  border-radius: 0.2rem;
  background-color: red;
  padding: 0.2rem 1rem;
  text-align: center;
}
.last_table .status-processing {
  background-color: #f6ac4157;
  border: 1px #f6ac41;
  color: #f6ac41;
}

.last_table .status-paid {
  background-color: #3bdd9d57;
  border: 1px #3bdd9d;
  color: #3bdd9d;
}

.last_table .status-failed {
  background-color: #e9655957;
  border: 1px #e96559;
  color: #e96559;
}

.last_table .status-paid1 {
  border-radius: 0.2rem;
  background-color: #3bdd9d;
  padding: 0.2rem 1rem;
  text-align: center;
  color: #fff;
}
.last_table .status-pending1 {
  background-color: #3bdd9d;
  color: #fff;
}

.last_table .status-processing1 {
  background-color: #f6ac41;
  color: #fff;
}

.last_table .status-failed1 {
  background-color: #e96559;
  color: #fff;
}

.last_table .amount {
  text-align: right;
}

.last_table tr:nth-child(even) {
  background-color: #f4f6fb;
}
.last_table {
  position: relative;
}

.last_table th.sortable {
  position: relative;
  cursor: pointer;
}

.last_table th.sortable::after {
  font-family: FontAwesome;
  content: "\f0dc";
  position: absolute;
  right: 8px;
  color: #999;
}

.last_table th.sortable.asc::after {
  content: "\f0d8";
}

.last_table th.sortable.desc::after {
  content: "\f0d7";
}

.last_table th.sortable:hover::after {
  color: #333;
}
.last_table_header2 ul li {
  list-style-type: none;
  display: inline-block;
  color: #b0bac5;
  padding: 10px;
}
.last_table_header2 {
  float: right;
}
.pagination {
  margin-top: 20px;
  display: flex;
  position: relative;
  float: right;
  bottom: 0;
  right: 0;
  overflow: hidden;
}

.pagination p {
  padding-left: 20px;
}

.crumbs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 0.5rem;
}

.crumb {
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: currentColor;
  border-radius: 0.9rem;
  border: 0.0625rem solid #d7d7d7; /* 1px */
}

.crumb:hover,
.crumb__active {
  background-color: #f5832b;
  color: #fdfdfd;
  border-color: #f5832b;
}

.crumb__prev {
  margin-right: 0.5rem;
  cursor: w-resize;
}
.crumb__next {
  margin-left: 0.5rem;
  cursor: e-resize;
}
